<header class="header-style">
    <div class="row ">
        <div class="col-md-6 p-2" id="head_title">
            <a href="/admin" id="head_icon">
                <h1 class="pl-4" style="font-family: Arial;"><i id="head_icon"
                        class='fas fa-paw icon-style mx-2'></i><b>Pet Market</b></h1>
            </a>
        </div>
        <div class="col-lg-6 col-6">
            <nav class="navbar navbar-expand-lg navbar-light float-right ">
                <button class="navbar-toggler ml-auto btn1" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon  pull-right "></span>
                </button>
                <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <li>
                            <input class="form-control mr-sm-2 my-2" type="search" placeholder="Search"
                                aria-label="Search">
                        </li>
                        <li>
                            <button class="btn btn-info mx-md-2 my-md-2 my-sm-0" type="submit">Search</button>
                        </li>
                    </ul>
                    <ul class="navbar-nav  ">
                        <li class="nav-item">
                            <a href="/cart"><i
                                    class="fa-solid fa-cart-shopping fa-lg mx-md-2 my-md-4 my-sm-0 cart_style head"></i></a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown ">
                                <button class=" my-2 mx-sm-2 acc-btn dropdown-toggle menu" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    <b>
                                        {{#if user}}
                                        {{user.name}}
                                        {{else}}
                                        Account
                                        {{/if}}
                                    </b>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div class="m-auto">
                                        <a class="dropdown-item" href="/admin/product-list">Listed products</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="/logout">Logout</a>

                                    </div>

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>