<header class="header-style">
    <div class="row ">
        <div class="col-md-6 col-6 justify-content-sm-start">
            <h1 class="pl-4 pt-2"><i class='fas fa-paw icon-style'></i>Pet Market</h1>
        </div>
        <div class="col-lg-6 col-6">
            <nav class="navbar navbar-expand-lg navbar-light float-right ">
                <button class="navbar-toggler ml-auto btn1" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon  pull-right "></span>
                </button>
                <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
                    <ul class="navbar-nav ">
                        <li>
                            <input class="form-control mr-sm-2 my-2" type="search" placeholder="Search"
                                aria-label="Search">
                        </li>
                        <li>
                            <button class="btn btn-outline-success mx-md-2 my-md-2 my-sm-0"
                                type="submit">Search</button>
                        </li>
                    </ul>
                    <ul class="navbar-nav  ">
                        <li class="nav-item">
                            <button type="button" class="btn btn-success my-2 mx-sm-2">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </button>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn-success my-2 mx-sm-2 acc-btn dropdown-toggle" type="button"
                                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    {{#if user}}
                                        {{user.name}}
                                    {{else}}
                                        Account
                                    {{/if}}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>