<header class="header-style">
    <div class="row">
        <div class="col-md-6 p-2" id="head_title">
            <a href="/" id="head_icon"><h1 class="pl-4" style="font-family: Arial;"><i id="head_icon" class='fas fa-paw icon-style mx-2'></i><b>Pet Market</b></h1></a>
        </div>
        <div class="col-lg-6 d-flex flex-row-reverse">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle menu" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-expanded="false">
                                <b>Menu</b>
                            </a>
                            <div class="dropdown-menu dropdown bg-wighte" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Dog</a>
                                <a class="dropdown-item" href="#">Fish</a>
                                <a class="dropdown-item" href="#">Cat</a>
                                <a class="dropdown-item" href="#">Birds</a>
                                <a class="dropdown-item" href="#">Horse</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto mx-2 ">
                        <li>
                            <input class="form-control mr-sm-2 my-2" type="search" placeholder="Search"
                                aria-label="Search">
                        </li>
                        <li>
                            <button class="btn btn-info mx-md-2 my-md-2 my-sm-0"
                                type="submit">Search</button>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto mx-2 mx-sm-0">
                        <li class=" my-3 mx-md-2 menu">
                            <a href="/login" class="menu"> <b>Signin</b></a>
                            
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>