<section>
    <div class="row">
        <div class="col-md-2 div1">
            <div class="list-group d-flex flex-column ml-3">
                <h5 class="list-group-item disabled" aria-current="true">shope list</h5>
                <a href="#" class="list-group-item list-group-item-action">shop name</a>
            </div>
        </div>
        <div class="col-md-8 div2 ">
            <h4>Selling Products</h4>
            <div class="row">
                {{#each products}}
                <div class="card p-2 mx-auto my-2 " style="width: 18rem;">
                    <img class="card-img-top" src="/image/{{this._id}}.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{name}}</h5>
                        <p class="card-text">price:{{price}}</p>
                        <p class="card-text">Breader: {{bname}}</p>

                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div class="col-md-2 div3 d-none d-lg-block">
            <div class="list-group d-flex flex-column ml-3">
                <h5 class="list-group-item disabled" aria-current="true">Top rated pet's</h5>

                <a href="#" class="list-group-item list-group-item-action">Pet list</a>
            </div>
        </div>
    </div>
</section>