<section>
    <div class="row">
        <div class="col-md-2 div1">
            <div class="list-group d-flex flex-column ml-3">
                <h5 class="list-group-item disabled" aria-current="true">shope list</h5>
                <a href="#" class="list-group-item list-group-item-action">shop name</a>
            </div>
        </div>
        <div class="col-md-8 div2 ">
            <h4>Selling Products</h4>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="./pic/guppy.jpeg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Guppy</h5>
                    <p class="card-text">price:150</p>
                    <p class="card-text">Breader name</p>
                    
                </div>     
            </div>
        </div>
        <div class="col-md-2 div3 d-none d-lg-block">
            <div class="list-group d-flex flex-column ml-3">
                <h5 class="list-group-item disabled" aria-current="true">Top rated pet's</h5>

                <a href="#" class="list-group-item list-group-item-action">Pet list</a>
            </div>
        </div>
    </div>
</section>